/*----------------------------
TONG QUAT
-------------------------------*/
body {
	background: #fff;
	color: #444;
	font-family: "Open Sans", sans-serif;
}
a {
	color: #1bb1dc;
	transition: 0.5s;
}

a:hover
a:active
a:focus {
	color: #0a98c0;
	outline: none;
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	margin: 0 0 20px 0;
	padding: 0;
}
.clear {
  clear: both;
}
/*---------------------------
1.Top bar
-------------------------------*/
#topbar {
	padding: 0 0 5px 0;
	font-size: 14px;
	transition: all 0.5s;
  background: #282521;
}
/*ben phai man hinh*/
#topbar .social-links {
	text-align: right;
}
#topbar .social-links a {
	color: #fff;
	padding: 10px 12px;
	display: inline-block;
	line-height: 1px;
}
#topbar .social-links a:hover {
	color: #1bb1dc;
}
#topbar .social-links a:first-child {
	border-left: 0;
}
/*contact*/
#topbar .contact {
  text-align: left;
  margin-top: -27px;
}
#topbar .contact a {
  color: #fff;
  padding: 10px 5px 0 0;
  text-decoration: none;
}
#topbar .contact i {
  padding: 0 10px;
}
/* ===================================
2. layout
==================================== */

.container {
  max-width: 1260px;
  padding: 0 10px 0 10px;
  position: relative;
  margin-top: 1px;
}

#wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
}
#wrapper.boxed {
  width: 1230px;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  background: #fff;
}

.row, .row-fluid {
  margin-bottom: 30px;
}

.row .row, .row-fluid .row-fluid {
  margin-bottom: 30px;
}

.row.nomargin, .row-fluid.nomargin {
  margin-bottom: 0;
}
/*-------------------------------
3.Header
----------------------------------*/
/* modal styled */
.modal.styled .modal-header h4 {
  color: #fff;
}
/* --- header -- */
#header {
  background: #fff;
  margin: 0;
  padding: 0;
  position: relative;
}

#header .logo {
  margin: 1px 0 0 5px;
  float: left;
}

#header .logo img {
  margin-top: 1rem;
  margin-bottom: 10px;
}

#header .logo h1 {
  font-size: 14px;
  padding: 0 50px;
}
/* --- signup & signin --- */
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #282521;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}
.profileUser{
  /*margin-left: 110rem;*/
  float: right;
  margin-top: -7rem;
}
.purchase{
  /*margin-left: 110rem;*/
  float: right;
  margin-top: -3.5rem;
}
.mylogout{
  margin-right: -6.25rem;
  float: right;
  margin-top: 0rem;
}
/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}
.cancelbtn, .signinbtn {
  float: left;
  width: 50%;
}
.cancelbtn, .resetbtn {
  float: left;
  width: 50%;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}

/*==================================
4.Main
==================================*/

/*carousel*/
.carousel {
  width: 600px;
  height: 350px;
  margin-top: -8rem;
  float: left;
}
.carousel .carousel-inner {
  max-width: 600px;
  height: 350px;
  border-radius: 20px;
}
.carousel .carousel-inner .carousel-item {
  transform: 2s ease;
  opacity: 0.5s ease-out;
}
/*table*/

.my-custom-scrollbar {
  position: relative;
  height: 350px;
  overflow: auto;
  margin-top: -8rem;
}
.table-wrapper-scroll-y {
  display: block;
}


/*sec1*/
/*
...............................
phan cap nhat
................................
*/
.overview {
  padding-top: 0rem;
}
#update{
  list-style: none;
  margin-bottom: 2rem;
}
#update a{
  text-decoration: none;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}
#capnhat{
  background-color: #282521;
  background-size: 10px 30px;
  padding-bottom: 1.5rem;
  margin-right: 16rem;
}
#capnhat a {
  text-align: center;
  padding: 30px;
  color: #fff;
}
#capnhat a:hover {
  color: #1bb1dc;
}
#choose{
  list-style: none;
  margin-bottom: 2rem;
}
#choose a{
  text-decoration: none;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}
#chonloc{
  background-color: #282521;
  background-size: 10px 30px;
  padding-bottom: 1.5rem;
  margin-right: 42rem;
}
#chonloc a {
  text-align: center;
  padding: 30px;
  color: #fff;
}
#chonloc a:hover {
  color: #1bb1dc;
}
#endup{
  padding-bottom: 8rem;
}
/*sec2- text chung cho ca 2 sec*/
.text { 
  color: #413e66;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 600; 
  border-bottom: 2px solid #e5e5e5; 
}
.lh-100 { 
  line-height: 1; 
  margin-top: 4px;
}
/*sec2*/
/*truyen chon loc-element*/
.lh-90{
  line-height: 1;
  margin-bottom:  4rem;
}
.img {
  margin-bottom: 4rem;
}
.lop1{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
/*
.................................
toptruyen
.................................
*/
#captop {
  background-color: #282521;
  background-size: 10px 30px;
  padding-bottom: 1.5rem;
  margin-right: 16rem;
}
#captop a {
  text-align: center;
  padding: 50px;
  color: #fff;
}
#captop a:hover {
  color: #1bb1dc;
}
#capfull {
  background-color: #282521;
  background-size: 10px 30px;
  padding-bottom: 1.5rem;
  margin-right: 42rem;
}
#capfull a {
  text-align: center;
  padding: 50px;
  color: #fff;
}
#capfull a:hover {
  color: #1bb1dc;
}
#thunhat {
  padding: 5px 0;
}

#thunhat .mem {
  text-align: center;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}

#thunhat .mem .mem-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.2s;
  padding: 15px 0;
  background: rgba(29, 28, 41, 0.6);
}

#thunhat .mem .mem-info-content {
  transition: margin 0.2s;
  height: 40px;
  transition: height 0.4s;
}

#thunhat .mem:hover .mem-info {
  transition: 0.4s;
}

#thunhat .mem:hover .mem-info-content {
  height: 80px;
}

#thunhat .mem h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
  color: #fff;
}

#thunhat .mem span {
  font-style: italic;
  display: block;
  font-size: 13px;
  color: #fff;
}
#thunhat .mem .xem {
  margin-top: 15px;
}

#thunhat .mem .xem a {
  transition: none;
  color: #fff;
}

#thunhat .mem .xem a:hover {
  color: #1bb1dc;
}

#thunhat .mem .xem i {
  font-size: 25px;
  margin: 0 2px;
}
#topsize{
  list-style: none;
  margin-bottom: 2rem;
  /*border-bottom: 1px solid #e5e5e5;*/   
}
#topsize a{
  text-decoration: none;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}
/*truyen full*/
#full{
  list-style: none;
  margin-bottom: 2rem;
}
#full a{
  text-decoration: none;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}

/*
.......................................
THE LOAI TRUYEN
.......................................
*/
/*table*/
#table1 {
  max-width: 350px;
  padding-left: 2rem;
}
#table1  ul li a {
  text-decoration: none;
}
#table2 {
  max-width: 350px;
  padding-left: 2rem;
}
#table2  ul li a {
  text-decoration: none;
}
#table3 {
  max-width: 350px;
  padding-left:  2rem;
}
#table3  ul li a {
  text-decoration: none;
}
/*
.................................
footer
.................................
*/
#footer {
  padding: 0 0 30px 0;
  font-size: 14px;
  background: #fff;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #f5f8fd;
}

#footer .footer-top .footer-info {
  margin-bottom: 5px;
}

#footer .footer-top .footer-info p {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  color: #535074;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #1bb1dc;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #0a98c0;
  color: #fff;
}

#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #413e66;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul li {
  padding: 8px 0;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #696592;
}

#footer .footer-top .footer-links ul a:hover {
  color: #1bb1dc;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .footer-top .footer-newsletter {
  margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
  border: 0;
  padding: 6px 8px;
  width: 65%;
  border: 1px solid #d9dde6;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
  background: #1bb1dc;
  border: 1px solid #1bb1dc;
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
  background: #0a98c0;
}

#footer .footer-top .form .form-group {
  margin-bottom: 15px;
}

#footer .footer-top .form #sendmessage {
  color: #fff;
  background: #1bb1dc;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#footer .footer-top .form #errormessage {
  color: #fff;
  display: none;
  background: red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#footer .footer-top .form #sendmessage.show,
#footer .footer-top .form #errormessage.show,
#footer .footer-top .form .show {
  display: block;
}

#footer .footer-top .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#footer .footer-top .form label {
  color: #413e66;
  font-weight: 500;
}

#footer .footer-top .form input,
#footer .footer-top .form textarea {
  border-radius: 0;
  box-shadow: none;
  border: 1px solid #dce1ec;
  font-size: 14px;
}

#footer .footer-top .form input::-webkit-input-placeholder,
#footer .footer-top .form textarea::-webkit-input-placeholder {
  color: #a2a0bd;
}

#footer .footer-top .form input::-moz-placeholder,
#footer .footer-top .form textarea::-moz-placeholder {
  color: #a2a0bd;
}

#footer .footer-top .form input:-ms-input-placeholder,
#footer .footer-top .form textarea:-ms-input-placeholder {
  color: #a2a0bd;
}

#footer .footer-top .form input::placeholder,
#footer .footer-top .form textarea::placeholder {
  color: #a2a0bd;
}

#footer .footer-top .form button[type="submit"] {
  background: #1bb1dc;
  border: 0;
  border-radius: 3px;
  padding: 8px 30px;
  color: #fff;
  transition: 0.3s;
}

#footer .footer-top .form button[type="submit"]:hover {
  background: #0a98c0;
  cursor: pointer;
}
#footer .copyright {
  text-align: center;
  padding-top: 30px;
  color: #535074;
  font-size: 15px;
}

#footer .credits {
  text-align: center;
  font-size: 14px;
  padding-top: 4px;
  color: #8582a8;
}

#footer .credits a {
  color: #1bb1dc;
}

#footer .credits a:hover {
  color: #0a98c0;
}