/* Box styles */
.myBox {
border: none;
padding: 5px;
font: 24px/36px sans-serif;
width: 750px;
height: 200px;
overflow: scroll;
}

/* Scrollbar styles */
::-webkit-scrollbar {
width: 10px;
height: 10px;
}
::-webkit-scrollbar-thumb {
border-radius: 10px;
background: #1bb1dc;
/*box-shadow: inset 0 0 6px rgba(0,0,0,0.5);*/
}

::-webkit-scrollbar-thumb:hover {
background: #7bac10;
}
table{
    margin-top: 20px;
    width: 80%;
    font-size: 12pt;
}
table th, td{
    border: 1px solid black;
    border-collapse: collapse;
    opacity: 0.95;
}
th, td {
    padding: 10px;
    text-align: center;
}
th{
    background-color: #666666;
    color: white;
}
tr:nth-child(even){
    background-color: #f5f8fd;
}
tr:nth-child(odd){
    background-color: #dce1ec;
}
