{% extends 'base.html' %}
{% block title %}Trên 18 Tuổi (18+)-MSIComic{% endblock %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    {% for items in list_comic_18tru %}
                        <div class="card_item">
                            <div class="card-body-item">
                                <a href=""><img src="{{ items.picture.url }}" width="170" height="235" style="border-radius: 10px;" alt=""></a>
                                <div class="content-card">
                                    <a href=""><h3>{{ items.name }}</h3></a>
                                    <a href=""><h6>{{ items.types }}</h6></a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-md-4">
                    {% for items in list_comic_18tru2 %}
                        <div class="card_item">
                            <div class="card-body-item">
                                <a href=""><img src="{{ items.picture.url }}" width="170" height="235" style="border-radius: 10px;" alt=""></a>
                                <div class="content-card">
                                    <a href=""><h3>{{ items.name }}</h3></a>
                                    <a href=""><h6>{{ items.types }}</h6></a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-md-4">
                    {% for items in list_comic_18tru3 %}
                        <div class="card_item">
                            <div class="card-body-item">
                                <a href=""><img src="{{ items.picture.url }}" width="170" height="235" style="border-radius: 10px;" alt=""></a>
                                <div class="content-card">
                                    <a href=""><h3>{{ items.name }}</h3></a>
                                    <a href=""><h6>{{ items.types }}</h6></a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}