{% extends 'base.html' %}

{% block title %} Gioi thieu {% endblock %}

{% block content %}
    <div class="container">
        <div class="row" id="overview">
            {% for items in object_view %}
                <div class="col-md-2" id="car">
                    <img src="{{ items.picture.url }}"
                         style="width: 200px; height: 280px; margin-top: -5rem; border-radius: 10px;">

                </div>
                <div class="col-md-10" id="content-car">

                    <h2>{{ items.name }}</h2>
                    <h6>Tác Giả: {{ items.author }}</h6>
                    <h6>Thể Loại: {{ items.types }}</h6>
                    <h6>{{ items.description }}</h6>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}